MINDBOX_API_URL=https://api.mindbox.ru
MINDBOX_ENDPOINT_ID=Kanzler-style.RecommendationSystemAPI
MINDBOX_SECRET_KEY=

MINDBOX_OPERATION_ACTIONS=CustomerActionsAPI
MINDBOX_OPERATION_ORDERS=OrdersAPI
MINDBOX_OPERATION_CUSTOMERS=CustomersAPI
MINDBOX_OPERATION_MERGES=CustomerMergesAPI
